.content {
    background: rgba(135,196,240, 0.8);
    width : 200px;
    height: 100px;
    border: 2px #fff solid;
    padding : 10px;
    color : #fff;
}

.model-context-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Pastikan muncul di atas elemen lain */
    min-width: 150px;
    color: #333;
}

.model-context-menu span {
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
}

.model-context-menu li {
    padding: 5px 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.2s ease;
    border-top: 1px solid #ccc;
}

.model-context-menu li:hover {
    background-color: #f0f0f0; /* Warna saat di-hover */
}